name: build iso

on:
  schedule:
    - cron: "0 17 * * 0" # 每周一 01:00（北京时间 UTC+8）
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "iso/**"

jobs:
  build-livecd:
    name: Build ${{ matrix.system }} ISO

    concurrency:
      group: build-livecd-${{ matrix.system }}
      cancel-in-progress: true

    strategy:
      fail-fast: false
      matrix:
        system: [x86_64-linux, aarch64-linux]

    runs-on: ${{ matrix.system == 'aarch64-linux' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install Nix
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true
            experimental-features = nix-command flakes

      - name: Show nixpkgs version
        run: nix eval nixpkgs#lib.version

      - name: Build ISO
        run: |
          nix build .#packages.${{ matrix.system }}.iso \
            --print-build-logs

      - name: List result
        run: ls -R result

      - name: Upload ISO artifact
        uses: actions/upload-artifact@v7
        with:
          name: iso-${{ matrix.system }}
          path: result/iso/*.iso
          if-no-files-found: error
